 @font-face {
     font-family: neon-club;
     src: url("/Media/writing/NEON\ CLUB\ MUSIC_bold.otf")format("opentype");
 }
 
 @font-face {
     font-family: happy-ending;
     src: url("/Media/writing-2/MyHappyEndingRegular-Lx7G.ttf")format("truetype");
 }
 
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html {
     font-size: 62.5%;
 }
 
 body {
     width: 100vw;
     height: 100vh;
     background: linear-gradient(45deg, #3333ff, #33cc33);
 }
 
 .music {
     position: relative;
     width: 70%;
     height: 70%;
     background: linear-gradient( 30deg, #66ffff, #cc33ff);
     top: 25%;
     left: 25%;
     transform: translate(-15%, -15%);
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 2px 2px rgba(0, 0, 0, 0.12), 4px 4px rgba(0, 0, 0, 0.12), 6px 6px rgba(0, 0, 0, 0.12), 8px 8px rgba(0, 0, 0, 0.12), 10px 10px rgba(0, 0, 0, 0.12);
 }
 
 .left {
     width: 50%;
     height: 100%;
     /* background-color: red; */
 }
 
 .logo {
     width: 100%;
     height: 20%;
     /* background-color: blue; */
     display: flex;
     justify-content: space-around;
     align-items: center;
     overflow: auto;
 }
 
 .logo-img {
     font-size: 1rem;
     padding-left: 3px;
     background-image: linear-gradient(45deg, #000, #af1414);
     background-repeat: no-repeat;
     background-size: 100%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 
 .logo-txt h2 {
     font-family: neon-club;
     font-size: 4rem;
     padding-right: 2px;
     background-image: linear-gradient(45deg, #000, #af1414);
     background-repeat: no-repeat;
     background-size: 100%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 
 .rotating-image {
     position: relative;
     width: 100%;
     height: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .rotating-image img {
     width: 60%;
     height: 95%;
     border-radius: 50%;
     padding: 2%;
 }
 
 .rotate-anim {
     animation: spin 3s linear infinite;
     -webkit-animation: spin 3s linear infinite;
     -moz-animation: spin 3s linear infinite;
 }
 
 @keyframes spin {
     100% {
         -webkit-transform: rotate(360deg);
     }
 }
 
 @-webkit-keyframes spin {
     100% {
         -webkit-transform: rotate(360deg);
     }
 }
 
 .soundbar {
     width: 100%;
     height: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .soundbar input[type="range"] {
     width: 15vw;
 }
 
 .sound-percent {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 10%;
     align-items: center;
 }
 
 .sound-percent textarea {
     width: 25%;
     height: 4vh;
 }
 
 #volumeData {
     text-align: center;
     font-family: happy-ending;
     font-size: 2.6rem;
 }
 
 .right {
     width: 50%;
     height: 100%;
 }
 
 .song-name {
     width: 100%;
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: auto;
 }
 
 .song-name h2 {
     font-size: 5rem;
     font-family: happy-ending;
     background-color: #3f0d12;
     background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
     background-size: 100%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 
 .artist {
     width: 100%;
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .artist h3 {
     font-family: happy-ending;
     font-size: 4rem;
     background-color: #3f0d12;
     background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
     background-size: 100%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 
 .controls {
     width: 100%;
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .previous,
 .playpause,
 .nex {
     margin: auto;
 }
 
 .previous button,
 .playpause button,
 .nex button {
     width: 6vw;
     height: 10vh;
     border-radius: 50%;
 }
 
 .autoplay {
     width: 100%;
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .autoplay button {
     margin: auto;
     border-radius: 7%;
     width: 20vw;
     height: 6vh;
     font-size: 2rem;
 }
 
 .progress {
     width: 100%;
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .progress input[type="range"] {
     width: 30vw;
 }
 /* ########### #Phone# ############## */
 
 @media screen and (max-width: 600px) {
     .logo-txt {
         display: none;
     }
     .song-name h2 {
         font-size: 2.5rem;
     }
     .artist h3 {
         font-size: 2rem;
     }
     .autoplay button {
         font-size: 1rem;
     }
     .rotating-image img {
         height: 40%;
     }
 }